.jobs {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(23.5rem, 1fr));
  grid-area: card;
  isolation: isolate;
}

.message {
  color: var(--white-text-1);
  font-weight: 500;
  font-size: 2rem;
  width: 100%;
  text-align: center;
}
