.card {
  background-color: var(--item-background);
  border-radius: 1rem;
  padding: 2rem;
  transition: background-color 0.2s ease-out;
  position: relative;
  max-width: 50rem;
  animation: cardAnimation 0.25s ease-in forwards;
}

@keyframes cardAnimation {
  0% {
    opacity: 0;
    translate: -10rem 0rem;
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}

.card::before {
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  content: "";
  top: -1.5rem;
  left: 0;
  height: 2rem;
  width: 100%;
  background-color: var(--clr);
  position: absolute;
  z-index: -1;
}

.card:hover,
.card:focus-within {
  background-color: var(--item-background1);
}

.card__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.card__head_name {
  color: var(--white-text-3);
  font-size: clamp(1.15rem, 2.5vw, 1.4rem);
}

.card__head_btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  transition: all 0.2s ease-in;
}

.card__head_btn:hover,
.card__head_btn:focus-within {
  gap: 0.5rem;
  outline: transparent;
}

.card__head_btn > span {
  background-color: var(--white-text-3);
  border-radius: 50%;
  width: 0.5rem;
  aspect-ratio: 1/1;
}

.card__time {
  color: var(--white-text-1);
  font-size: clamp(2.85rem, 2.5vw, 3.35rem);
  margin: 2rem 0 1rem 0;
}

.card__startdate {
  color: var(--white-text-3);
  opacity: 0.75;
  font-size: clamp(1.05rem, 2.5vw, 1.15rem);
}

.menu {
  position: absolute;
  min-width: 50%;
  padding: 1.5rem 1rem;
  right: 0;
  top: 1.85rem;
  background-color: var(--background-color);
  border-radius: 1rem;
  opacity: 0;
  scale: 0;
  transition: opacity 0.15s ease-in, scale 0.2s ease-in;
  transform-origin: top right;
}

.menu__item {
  list-style: none;
  color: var(--white-text-3);
  font-size: clamp(1.1rem, 2.5vw, 1.275rem);
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

.menu__item:not(:last-child) {
  margin-bottom: 1rem;
}

.menu__item a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: color 0.15s ease-in;
}

.menu__item a:hover,
.menu__item a:focus-within {
  color: var(--white-text-1);
  outline: transparent;
}

.show_menu {
  scale: 1;
  opacity: 1;
}
